body{
 background-color: #080708;
}
/****div info***/
/****column = colonne  row = ligne***/
.contenaire{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 10px;
}

.box1{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
   
}

img{
    height: 180%;
    width: 80%;
    border-radius: 90em;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.box2{
    grid-column-start: 3;
    grid-column-end: span 4;  
    text-align: center;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.textSeb{
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
}

h2{
    color: white;  
}

ul li{
    color: white;
    
}

/*****objective*****/
.boxObjectifs{ 
 grid-row-start: 3 ;
 grid-row-end: 4 ;
 grid-column-start:span 3 ;
 text-align: center;
 padding: 10px;
 margin-top: 5%;
}

/*****competence*****/
.boxComptetence{
 grid-row-start: 6 ;
 grid-row-end: 7 ;
 grid-column-start: 1 ;
 grid-column-end: 2; 
 padding: 25px;
 margin-top: 25%;
 margin-left: 10%;
 border-style: outset;
 box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

/*****competence*****/
.boxExperience{
 grid-row-start: 6 ;
 grid-row-end: 7 ;
 grid-column-start: 3 ;
 grid-column-end: 4;
 margin-top: 25%;
 border-style: outset;
 padding-right: 10px ;
 box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.textExperience{
    margin-left: 15px;
}

div section .textSeb{
    text-align: center;
    padding: 10px;
}

/******Skills****/
.boxSkillsWeb{
    grid-row-start: 8 ;
    grid-row-end: 9 ;
    grid-column-start: 1 ;
    grid-column-end: 2;
    margin-top: 10%;
    margin-left: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

div h2{
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 10px;
    text-shadow: 2px 2px 4px white;
}

/******SkillsOop****/
.boxSkillsOop{
    grid-row-start: 8 ;
    grid-row-end: 9 ;
    grid-column-start: 3 ;
    grid-column-end: 4;
    margin-top: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.skillsDeveloppement{
    grid-row-start: 7 ;
    grid-row-end: 8 ;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
    margin-top: 15%;
}

.site50cent{
    grid-row-start: 8 ;
    grid-row-end: 9 ;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: blanchedalmond;
    margin-top: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

