body{
 background: linear-gradient(black, grey);
}
/****div info***/
.contenaire{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /****column = colonne ***/
    grid-template-rows: repeat(4, 100px);  /** row = ligne***/
    grid-column-gap: 15px;
}

.box1{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
   
}

.photoSeb{
    height: 180%;
    width: 80%;
    border-radius: 90px;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.box2{
    grid-column-start: 3;
    grid-column-end: span 4;  
    text-align: center;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.textSeb{
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    text-align: center;
}

h2{
    color: white;  
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 10px;
    text-shadow: 2px 2px 4px white;
    text-align: center;
}

ul li{
    color: white;
    
}

/*****objective*****/
.boxObjectifs{ 
 grid-row-start: 3 ;
 grid-row-end: 4 ;
 grid-column-start:span 3 ;
 text-align: center;
 padding: 10px;
 margin-top: 5%;
}

/*****competence*****/
.boxComptetence{
 grid-row-start: 6 ;
 grid-row-end: 7 ;
 grid-column-start: 1 ;
 grid-column-end: 2; 
 padding: 25px;
 margin-top: 25%;
 margin-left: 10%;
 border-style: outset;
 box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

/*****competence*****/
.boxExperience{
 grid-row-start: 6 ;
 grid-row-end: 7 ;
 grid-column-start: 2 ;
 grid-column-end: 3;
 margin-top: 25%;
 border-style: outset;
 padding-right: 10px ;
 box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.textExperience{
    margin-left: 15px;
}

div section .textSeb{
    text-align: center;
    padding: 10px;
}

/******Skills OLD CODE
.boxSkillsWeb{
    grid-row-start: 8 ;
    grid-row-end: 9 ;
    grid-column-start: 1 ;
    grid-column-end: 2;
    margin-top: 10%;
    margin-left: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
} ****/



.imgHtml{
    height: 30%;
    width: 20%;
}

.imgHtml:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.imgCss{
    height: 20%;
    width: 20%;
}

.imgCss:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.imgJS{
    height: 30%;
    width: 30%; 
}

.imgJS:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.imgJava{
    height: 30%;
    width: 30%; 
}

.imgJava:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.imgKotlin{
    height: 30%;
    width: 30%; 
}

.imgKotlin:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
/******SkillsOop OLD CODE
.boxSkillsOop{
    grid-row-start: 8 ;
    grid-row-end: 9 ;
    grid-column-start: 3 ;
    grid-column-end: 4;
    margin-top: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}
****/

.skillsDeveloppement{
    grid-row-start: 6 ;
    grid-row-end: 7 ;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 25%;
    text-align: center;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

div li{
    text-align: left;
}

.portfolio{
    grid-row-start: 7 ;
    grid-row-end: 8 ;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color: blanchedalmond;
    margin-top: 10%;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
}

.Loisir{
    grid-row: 7/9 ;
    grid-column: 3/4 ;
    border-style: solid;
    border-style: outset;
    box-shadow: 8px 8px 12px rgb(167, 157, 157),  -8px -8px 12px rgb(167, 157, 157);
    margin-top: 7%;
}


@media screen and (max-width:680px){
    .textSeb{
        font-family: 'Baloo Tammudu 2', cursive;
        color: white;
        text-align: center;
    }

    h2{
        color: white;  
        font-family: Arial;
        padding: 10px;
        text-shadow: 2px 2px 4px white;
        text-align: center;
    }
    
    .portfolio{
        margin-bottom: 0px;
        grid-row: 9/10;
        grid-column: 1/4;
        
    }
    
    .skillsDeveloppement{
        width: 100%;
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .Loisir{
        margin-top: 25%;
        grid-column: 2/4;
    }

    .boxExperience{
        grid-column: 3/4;
        margin-top: 34%;
    }

    .box2{
        grid-row: 1/3;
    }

    .boxObjectifs{
        margin-top: 10%;
    }
}